<!doctype xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">BookStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page"  href="/">Main Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="available_books">Available Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="my_books">My Books</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="book_register">New Book Register</a>
                      </li>
                 </ul>

                
                 <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" th:if="${session.user == null}">
                            <a class="nav-link active text-white" aria-current="page" href="signin">Login</a>
                        </li>

                        <li class="nav-item" th:if="${session.user == null}">
                          <a class="nav-link active text-white" aria-current="page" href="/signup">Signup</a>
                      </li>
                
                        
                        <li class="nav-item d-flex align-items-center" th:if="${session.user != null}">
                           
                            <span class="nav-link active text-white mr-2" th:text="${session.user.name + ' welcome'}"></span>
                
                            <a class="nav-link text-white" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div th:if="${session.user != null && session.user.role =='admin'}" class="container my-5" style="border: 1px solid black;" >
      <h4 class="text-center">New Book Register</h4>
      <form class="col-md-4 offset-md-4" th:action="@{/save}" method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Name </label>
          <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author </label>
          <input type="text" class="form-control" name="author">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price </label>
          <input type="text" class="form-control" name="price">
        </div>
        <center>
          <button type="submit" class="btn btn-primary">Submit</button>
        </center>
        
      </form>
    </div>

    <div th:if="${session.user == null}" class="container text-center my-5">
      <h1 class="mb-4">Please Login or SignUp for free to access the BookStore</h1>
      <h6 class="container text-center my-5">We have tons of books</h6>
      <a href="/signin">
        <img src="/images/pl.png" width="700px">
      </a>
  </div>



    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
  </body>
</html>